## SQL and SQLite

#### SQL = Structured Query Language.
used to create tables,insert data,update data,delete data,search/filter data
#### SQLite = tool/software that uses the SQL language
stores everything in one single file, like mydata.db

In [2]:
import sqlite3

In [2]:
## Connect to an SQLite database
connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [4]:
## Craete a Table
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
    )
''')

## Commit the changes
connection.commit()

In [5]:
cursor.execute('''
select * from employees
''')

In [ ]:
## Insert the data in sqlite table
cursor.execute('''
Insert into employees(name,age,department)
values('Krish',32,'Data Scientist')
''')

cursor.execute('''
Insert into employees(name,age,department)
values('Bob',25,'Engineering')
''')

cursor.execute('''
Insert into employees(name,age,department)
values('Charlie',35,'Finance')
''')

## Commiting the changes
connection.commit()

In [8]:
## Query the data from the table
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, 'Krish', 32, 'Data Scientist')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Finance')

In [10]:
## Update data in the table
cursor.execute('''
UPDATE employees 
Set age=34
where name="Krish"                                         
''')

connection.commit()

In [11]:
## Query the data from the table
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, 'Krish', 34, 'Data Scientist')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Finance')

In [13]:
## Delete the data from the table
cursor.execute('''
Delete from employees
               where name="Bob"
''')

connection.cursor()

In [14]:
## Query the data from the table
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, 'Krish', 34, 'Data Scientist')
(3, 'Charlie', 35, 'Finance')

In [7]:
### Working with Sales Data
# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()


# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Clear old data
cursor.execute("DELETE FROM sales")

# Insert data into sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [8]:
# Query data from the sales table
cursor.execute('Select * from sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [9]:
## Close the connection
connection.close()