#### FUNCTIONS IN PYTHON

#####  Defining Functions
##### Calling Functions
##### Function Parameters
##### Default Parameters
##### Variable-Length Arguments
##### Return Statement

##### Definition
###### A Function is a block of code that performs a specific task.Functions help in organizing code,reusing code and improving readability

In [ ]:
## Syntax

def function_name(parameters):
    """Docstring"""
    # Function body
    return expression

In [ ]:
# why functions?

num=28
if num%2==0:
    print("the number is even")
else:
    print("the number is odd")

the number is odd

In [ ]:
def even_or_odd(num):
    """This function finds even or odd """
    if num%2==0:
        print("the number is even")
    else:
        print("the number is odd")

In [5]:
## Calling the Function

even_or_odd(24)
even_or_odd(25)

the number is even
the number is odd

In [ ]:
# Function with multiple parameter

def add(a,b):                   # def add(a,b):
    return a+b                  #      return a+b  
                             
result=add(2,4)                 # add(2,4)
print(result)

6

In [9]:
# Default parameter

def greet(name):
    print(f"Hello {name} Welcome to the paradise")

greet("Shana")

Hello Shana Welcome to the paradise

In [10]:

def greet(name):
    print(f"Hello {name} Welcome to the paradise")

greet()

TypeError: greet() missing 1 required positional argument: 'name'

In [12]:
def greet(name="Guest"):
    print(f"Hello {name} Welcome to the paradise")

greet()
greet("shana")

Hello Guest Welcome to the paradise
Hello shana Welcome to the paradise

In [15]:
# Variable Length Argument
# Positional & Keyword Argument

def print_numbers(*shana):             
     for number in shana:
          print(number)

In [16]:
print_numbers(1,2,3,4,5,6,7,8,"Shana")

1
2
3
4
5
6
7
8
Shana

In [ ]:
# Positional Arguments

def print_numbers(*args):             
     for number in args:
          print(number)

In [18]:
print_numbers(1,2,3,4,5,6,7,8,"Shana")

1
2
3
4
5
6
7
8
Shana

In [19]:
# Keyword Arguments

def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [20]:
print_details(name="Shana",age=23,country="India")

name:Shana
age:23
country:India

In [22]:
def print_details(*args,**kwargs):
    for val in args:
          print("Positional argument :",val) 
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [23]:
print_details(1,2,3,4,"Fthma",name="Shana",age=23,country="India")

Positional argument : 1
Positional argument : 2
Positional argument : 3
Positional argument : 4
Positional argument : Fthma
name:Shana
age:23
country:India

In [25]:
# Return multiple parameters

def multiply(a,b):
    return a*b,a

multiply(2,3)

(6, 2)