### SETS

#### Built-in data types used to store collection of unique items
#### Do not allow Duplicate elements

In [1]:
## Create a set
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [3]:
my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [5]:
my_empty_set=set([1,2,3,4,5])
print(my_empty_set)

{1, 2, 3, 4, 5}

In [6]:
my_empty_set=set([1,2,3,6,5,4,5,6])
print(my_empty_set)

{1, 2, 3, 4, 5, 6}

#### Basic Set Operations

In [ ]:
## Adding an element

my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 7}

In [9]:
## Removing an element
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 7}

In [11]:
my_set.remove(10)

KeyError: 10

##### Discard : Remove an element from a set if its a memeber
#####           Unlike remove(),the discard() doesnt raise error

In [13]:
my_set.discard(10)
print(my_set)

{1, 2, 4, 5, 7}

In [ ]:
## pop method

removed_element=my_set.pop()    # pop removes 1 st elemnt
print(removed_element)
print(my_set)

1
{2, 4, 5, 7}

In [15]:
## clear all elements
my_set.clear()
print(my_set)

set()

In [ ]:
## Set Membership Test : Whether an element is a member of a set

my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [18]:
## Mathematical operation
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

In [19]:
## UNION

union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [20]:
## INTERSECTION

intersection_set=set1.intersection(set2)
print(intersection_set)

{4, 5, 6}

In [22]:
## intersection update

set1.intersection_update(set2)
print(set1)

{4, 5, 6}

#### intersection() → Creates a new set with the common elements. ✅ The original sets stay the same.

#### intersection_update() → Changes the first set itself and removes all elements that are not common. ❌ No new set is made.

In [ ]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

{4, 5, 6}

In [27]:
## Difference

set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

set1.difference(set2)

{1, 2, 3}

In [30]:
set1

{1, 2, 3, 4, 5, 6}

In [31]:
set2.difference(set1)

{7, 8, 9}

In [32]:
## Symmetric Difference
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [36]:
## Sets Methods

set1={1,2,3,4,5}
set2=(3,4,5)

## is subset
print(set1.issubset(set2))

set1.issuperset(set2)

False

True

In [37]:
lst=[1,2,2,3,4,4,5]

set(lst)

{1, 2, 3, 4, 5}

In [38]:
## Counting Unique words in text

text="In this tutorial we are discussing abt sets"
words=text.split()

## convert list of words to set to get unique words
unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'are', 'we', 'this', 'discussing', 'tutorial', 'abt', 'sets', 'In'}
8

In [1]:
set1 = set(range(1, 6))
set2 = set(range(2, 11, 2))
print(f"Union: {set1 | set2}")
print(f"Intersection: {set1 & set2}")
print(f"Difference (set1 - set2): {set1 - set2}")
print(f"Symmetric Difference: {set1 ^ set2}")

Union: {1, 2, 3, 4, 5, 6, 8, 10}
Intersection: {2, 4}
Difference (set1 - set2): {1, 3, 5}
Symmetric Difference: {1, 3, 5, 6, 8, 10}