## DICTIONARIES

#####  Creating Dictionaries
##### Accessing Dictionary Elements
##### Modifying Dictionary Elements
##### Dictionary Methods
##### Iterating Over Dictionaries
##### Nested Dictionaries
##### Dictionary Comprehensions

###### Dictionaries are unorderd collection of items.
###### They store in key-value pairs

In [1]:
## creating Dictionaries

empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [3]:
empty_dict=dict()
empty_dict

{}

In [5]:
student={"name":"Shana","age":32,"grade":24}
print(student)
print(type(student))

{'name': 'Shana', 'age': 32, 'grade': 24}
<class 'dict'>

In [6]:
# Error

student={"name":"Shana","age":32,"grade":24,"name":24}
print(student)

{'name': 24, 'age': 32, 'grade': 24}

##### Always use single keys
##### if you use a key twice it takes the value of the last time you put that key

In [51]:
## Accesing dicionary elements

student={"name":"Shana","age":32,"grade":"A"}
print(student)

{'name': 'Shana', 'age': 32, 'grade': 'A'}

In [25]:
## Accessing Dictionary Elements

print(student['grade'])
print(student['age'])

A
32

In [ ]:
## Accessing using get() method

print(student.get('grade'))
print(student.get('f_name'))    ## non Existing
print(student.get('f_name',"Not Available"))     ## giving default value

A
None
Not Available

In [52]:
##Modifying Dictionaries
## Dictionaries are mutable,so you can add, update or delete elements

print(student)

{'name': 'Shana', 'age': 32, 'grade': 'A'}

In [35]:
student["age"]=33              # update value for the key
print(student)

{'name': 'Shana', 'age': 33, 'grade': 'A'}

In [36]:
student["address"]="India"     # adding a new key & value
print(student)

{'name': 'Shana', 'age': 33, 'grade': 'A', 'address': 'India'}

In [37]:
del student['grade']           # deleting the key & value
print(student)

{'name': 'Shana', 'age': 33, 'address': 'India'}

In [40]:
## Dictionary Mathods

keys=student.keys()            # get all the keys
print(keys)
values=student.values()        # get all the values
print(values)
items=student.items()        # get all key values pairs
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Shana', 33, 'India'])
dict_items([('name', 'Shana'), ('age', 33), ('address', 'India')])

In [53]:
# shallow copy
student_copy=student
print(student)
print(student_copy)

{'name': 'Shana', 'age': 32, 'grade': 'A'}
{'name': 'Shana', 'age': 32, 'grade': 'A'}

In [54]:
student["name"]="Shana1"
print(student)
print(student_copy)

{'name': 'Shana1', 'age': 32, 'grade': 'A'}
{'name': 'Shana1', 'age': 32, 'grade': 'A'}

##### Shallow Copy

##### Shallow copy provides a different memeory location so that whenever we change one of the variable it should not impact the other one

In [55]:
student_copy1=student.copy()          # shallow copy
print(student_copy1)
print(student)

{'name': 'Shana1', 'age': 32, 'grade': 'A'}
{'name': 'Shana1', 'age': 32, 'grade': 'A'}

In [56]:
student["name"]="Shana2"
print(student_copy1)
print(student)

{'name': 'Shana1', 'age': 32, 'grade': 'A'}
{'name': 'Shana2', 'age': 32, 'grade': 'A'}

In [58]:
### iterating Over Dictionaries
## You can use loops to iterate over dictionaries, keys, values or items

# Iterating Over keys

for keys in student.keys():
   print(keys)

name
age
grade

In [60]:
# iterating ove values

for values in student.values():
    print(values)

Shana2
32
A

In [61]:
# Iterate over key:value pairs

for key,value in student.items():
    print(f"{key}:{value}")

name:Shana2
age:32
grade:A

In [65]:
# Nested Dictionaries

students={
    "student1":{"name":"Shana","age":25},
    "student2":{"name":"Fthma","age":25.0}
}

In [66]:
## Access Nested Dictionaries
  
print(students["student2"]["name"])
print(students["student2"]["age"])

Fthma
25.0

In [67]:
students.items()

dict_items([('student1', {'name': 'Shana', 'age': 25}), ('student2', {'name': 'Fthma', 'age': 25.0})])

In [68]:
# Iterating over Nested Dictionaries

for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'Shana', 'age': 25}
name:Shana
age:25
student2:{'name': 'Fthma', 'age': 25.0}
name:Fthma
age:25.0

In [69]:
## Dictionary Comprehension

square={x:x**2 for x in range (5)}
print(square)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [70]:
## Conditional  Dictionary Comprehension

evens={x:x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [71]:
## Examples

## USe a dictionary to count the frequency of elements in list

numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [72]:
## Merge 2 dictionaries into one

dict1={"a":1,"b":2}
dict2={"b":3,"c":4}
merged_dict={ **dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}