# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [9]:
## Assignment 1: Creating and Accessing Tuples
# Create a tuple with the first 10 positive integers. Print the tuple.
tuple1=tuple(range(1,11))
print(tuple1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [19]:
## Assignment 2: Accessing Tuple Elements
# Print the first, middle, and last elements of the tuple created in Assignment 1.

print((tuple1[0]),"is the first element")
print(len(tuple1)//2,"is the middle element")
print((tuple1[-1]),"is the last element")

1 is the first element
5 is the middle element
10 is the last element

In [22]:
## Assignment 3: Tuple Slicing
# Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

print("First Three Elements :",tuple1[:3])
print("Last Three Elements :",tuple1[-3:])
print("First Three Elements :",tuple1[2:5])

First Three Elements : (1, 2, 3)
Last Three Elements : (8, 9, 10)
First Three Elements : (3, 4, 5)

In [ ]:
## Assignment 4: Nested Tuples
# Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [23]:
## Assignment 5: Tuple Concatenation
# Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

tpl1=(1,2,3)
tpl2=(4,5,6)
print(tpl1+tpl2)

(1, 2, 3, 4, 5, 6)

In [24]:
## Assignment 6: Tuple Methods
# Create a tuple with duplicate elements and count the occurrences of an element. 
# Find the index of the first occurrence of an element in the tuple.

tpl = (1, 2, 2, 3, 4, 4, 4, 5)
print(f"Occurence of 4 : {tpl.count(4)}")     
print(f"Index of first Occurence of 2 : {tpl1.index(2)}")

Occurence of 4 : 3
Index of first Occurence of 2 : 1

In [25]:
## Assignment 7: Unpacking Tuples
# Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.
tpl1=(1,2,3,4,5)
a,b,c,d,e=tpl1
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [26]:
## Assignment 8: Tuple Conversion
# Convert a list of the first 5 positive integers to a tuple. Print the tuple.

lst=[1,2,3,4,5]
print(tuple(lst))

(1, 2, 3, 4, 5)

In [31]:
## Assignment 9: Tuple of Tuples
# Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

tple=((1,2,3),("a","b","c"),(10,"f",20))
print(tple)

((1, 2, 3), ('a', 'b', 'c'), (10, 'f', 20))

In [33]:
## Assignment 10: Tuple and List
# Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple.
#  Print the resulting tuple.

tpl1=(1,2,3,4,5)
lst1=list(tpl1)
lst1.append(6)
print(tuple(lst1))

(1, 2, 3, 4, 5, 6)

In [38]:
## Assignment 11: Tuple and String
# Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

string="hello"
tpl=tuple(string)
joined="".join(tpl)
print(joined)

hello

In [ ]:
## Assignment 12: Tuple and Dictionary
# Create a dictionary with tuple keys and integer values. Print the dictionary.

In [ ]:
## Assignment 13: Nested Tuple Iteration
# Create a nested tuple and iterate over the elements, printing each element.

tuple2=((1,2),("a","b","c"),(3,4))
for x in tuple2:
    for y in x:
        print(y,end=" ")

1 21 a b c 3 4

In [47]:
## Assignment 14: Tuple and Set
# Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

tpl = (1, 2, 2, 3, 4, 4, 4, 5)
new_tpl=set(tpl)
print(new_tpl)

{1, 2, 3, 4, 5}

In [6]:
## Assignment 15: Tuple Functions
# Write functions that take a tuple and return the minimum, maximum, and sum of the elements. 
# Print the results for a sample tuple.

def min_tpl(tpl):
    return min(tpl),max(tpl),sum(tpl)


a,b,c  = min_tpl((1,2,3,4,5))
#     return max(tp1)



# def max_tpl(tpl1):
#     return max(tp)

In [4]:
print(c)

15