# Module: Pandas Assignments
## Lesson: Pandas

### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [23]:
import pandas as pd
import numpy as np

array = np.random.randint(10,100, size=(6,4))
df = pd.DataFrame(array, columns=['A','B','C','D'])
print(f"DataFrame :\n", df)

print(f"\nIndex Changed DataFrame :")
df.set_index('A', inplace=True)
print(df)

DataFrame :
     A   B   C   D
0  35  21  57  98
1  45  21  87  83
2  71  18  71  60
3  12  90  63  58
4  76  64  88  99
5  27  45  96  12

Index Changed DataFrame :
     B   C   D
A
35  21  57  98
45  21  87  83
71  18  71  60
12  90  63  58
76  64  88  99
27  45  96  12

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [57]:
df = pd.DataFrame(np.random.randint(1,26, size=(3,3)), columns=['A','B','C'], index=['X','Y','Z'])
print(f"DataFrame :\n", df)

element = df.at['Y','B']
print(f"\nAccessing Element at row 'Y' & col 'B' :", element)

DataFrame :
     A   B   C
X  23   3   9
Y  23  13  23
Z  25  11   7

Accessing Element at row 'Y' & col 'B' : 13

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [58]:
df = pd.DataFrame(np.random.randint(1,21, size=(5,3)), columns=['A','B','C'])
print(f"DataFrame :\n", df)

prdct = df['A'] * df['B']
df['D'] = prdct
print(f"DataFrame with new colum:\n", df)

DataFrame :
     A   B   C
0   1  10   8
1   3  20  20
2  11  20  12
3  12   8   7
4   4   4   9
DataFrame with new colum:
     A   B   C    D
0   1  10   8   10
1   3  20  20   60
2  11  20  12  220
3  12   8   7   96
4   4   4   9   16

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [59]:
df = pd.DataFrame(np.random.randint(1,16, size=(4,3)))
print(f"DataFrame :\n", df)

row_wise = df.sum(axis=1)
print("Row Wise Sum :")
print(row_wise)

col_wise = df.sum(axis=0)
print("Column wise sum")
print(col_wise)

DataFrame :
     0   1   2
0   8  11  13
1  14   9   7
2   9   2   8
3  11   8  15
Row Wise Sum :
0    32
1    30
2    19
3    34
dtype: int64
Column wise sum
0    42
1    30
2    43
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [60]:
df = pd.DataFrame(np.random.randint(1,20, size=(5,3)), columns=['X','Y','Z'], index=['A','B','C','D','E'])
print(f"DataFrame :\n", df)

# Introducing NaN values
df.loc['A', 'Y'] = np.nan
df.loc['C', 'Z'] = np.nan
df.loc['E', 'X'] = np.nan
print(f"\nDF with NaN vals:\n",df)

# Filling NaN vals with mean of that column
df.fillna(df.mean(), inplace=True)
print(f"\nDF with NaN vals replaced to Mean:\n",df)

DataFrame :
     X   Y   Z
A  14  13  19
B   7  16   6
C  15   7  15
D  12  11  11
E   1  19   2

DF with NaN vals:
       X     Y     Z
A  14.0   NaN  19.0
B   7.0  16.0   6.0
C  15.0   7.0   NaN
D  12.0  11.0  11.0
E   NaN  19.0   2.0

DF with NaN vals replaced to Mean:
       X      Y     Z
A  14.0  13.25  19.0
B   7.0  16.00   6.0
C  15.0   7.00   9.5
D  12.0  11.00  11.0
E  12.0  19.00   2.0

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [61]:
df = pd.DataFrame(np.random.randint(1,25, size=(6,4)), columns=['A','B','C','D'])
print(f"DataFrame :\n", df)

df.loc[0, 'C'] = np.nan
df.loc[3, 'A'] = np.nan
df.loc[5, 'D'] = np.nan
print(f"\nDF with NaN vals:\n",df)

df.dropna(axis=0, inplace=True)
print(f"DataFrame with NaN values dropped:\n", df)

DataFrame :
     A   B   C   D
0  16  16  14   4
1   5   3  16  22
2   1   1  18  17
3  13   6  22   5
4  23  21  22  16
5   6  13  23   2

DF with NaN vals:
       A   B     C     D
0  16.0  16   NaN   4.0
1   5.0   3  16.0  22.0
2   1.0   1  18.0  17.0
3   NaN   6  22.0   5.0
4  23.0  21  22.0  16.0
5   6.0  13  23.0   NaN
DataFrame with NaN values dropped:
       A   B     C     D
1   5.0   3  16.0  22.0
2   1.0   1  18.0  17.0
4  23.0  21  22.0  16.0

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [62]:
df = pd.DataFrame({
    'Category' : np.random.choice(['A','B','C'], size=10),
    'Values' : np.random.randint(1,20, size=10)
})
print(f"DataFrame :\n", df)


grouping = df.groupby('Category')['Values'].agg(['sum', 'mean'])
print(grouping)

DataFrame :
   Category  Values
0        C       2
1        A      13
2        B      18
3        B       4
4        A      12
5        C       2
6        A      17
7        A       1
8        C       8
9        C      12
          sum   mean
Category
A          43  10.75
B          22  11.00
C          24   6.00

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [63]:
df = pd.DataFrame({
    'Product' : np.random.choice(['Prdct 1','Prdct 2','prdct 3','Prdct 4','prdct 5'], size=10),
    'Category' : np.random.choice(['A','B','C','D','E'], size=10),
    'Sales' : np.random.randint(1000,5000, size=10)
})
print(f"DataFrame :\n", df)

grouping = df.groupby('Category')['Sales'].agg('sum')
print(grouping)

DataFrame :
    Product Category  Sales
0  Prdct 4        B   4576
1  prdct 5        C   3016
2  prdct 3        C   2421
3  Prdct 2        B   4983
4  Prdct 1        D   3826
5  Prdct 4        B   4019
6  Prdct 4        D   1389
7  prdct 3        C   1942
8  Prdct 4        A   1914
9  Prdct 4        E   1780
Category
A     1914
B    13578
C     7379
D     5215
E     1780
Name: Sales, dtype: int32

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [64]:
df1 = pd.DataFrame({'Key':['A','B','C','D'], 'Values1':np.random.randint(1,10, size=4)})
df2 = pd.DataFrame({'Key':['A','B','C','E'], 'Values2':np.random.randint(1,10, size=4)})

print(f"DataFrame 1 :\n", df1)
print(f"DataFrame 2 :\n", df2)

# Merging
merged_df = pd.merge(df1,df2, on='Key')
print(merged_df)

DataFrame 1 :
   Key  Values1
0   A        7
1   B        6
2   C        1
3   D        3
DataFrame 2 :
   Key  Values2
0   A        7
1   B        9
2   C        5
3   E        4
  Key  Values1  Values2
0   A        7        7
1   B        6        9
2   C        1        5

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [65]:
df1 = pd.DataFrame({'A':np.random.randint(1,5, size=2),'B':np.random.randint(1,5, size=2)})
df2 = pd.DataFrame({'C':np.random.randint(1,5, size=2),'D':np.random.randint(1,5, size=2)})
print("df1:\n",df1)
print("\ndf2:\n",df2)

row_conc = pd.concat([df1,df2], axis=0)
print(f"Row Concatenated DF :\n",row_conc)

col_conc = pd.concat([df1,df2], axis=1)
print(f"Column Concatenated DF :\n",col_conc)

df1:
    A  B
0  3  3
1  1  3

df2:
    C  D
0  3  1
1  1  2
Row Concatenated DF :
      A    B    C    D
0  3.0  3.0  NaN  NaN
1  1.0  3.0  NaN  NaN
0  NaN  NaN  3.0  1.0
1  NaN  NaN  1.0  2.0
Column Concatenated DF :
    A  B  C  D
0  3  3  3  1
1  1  3  1  2

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [66]:
date_index = pd.date_range(start='2024-01-01', periods=90, freq='D')                   # freq = D :- daily.ie,date increase by day
df = pd.DataFrame({'Values':np.random.randint(1,100, size=90)}, index=date_index)
print(f"Data Frame :\n",df.head(10))

monthly_mean = df.resample('M').mean()
print(f"\nMonthly Mean :\n", monthly_mean)

Data Frame :
             Values
2024-01-01      69
2024-01-02      96
2024-01-03      56
2024-01-04      33
2024-01-05      92
2024-01-06      19
2024-01-07      68
2024-01-08      78
2024-01-09      49
2024-01-10       7

Monthly Mean :
                Values
2024-01-31  53.967742
2024-02-29  46.172414
2024-03-31  52.300000

C:\Users\Fathi\AppData\Local\Temp\ipykernel_44196\4131899998.py:5: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample('M').mean()

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [71]:
date_index = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
df = pd.DataFrame({'Values':np.random.randint(10,100, size=len(date_index))}, index=date_index)
print(f"DataFrame :\n", df.head(10))

mean = df.rolling(7).mean()
print(f"\nRolling Mean DF :\n", mean)

DataFrame :
             Values
2021-01-01      88
2021-01-02      37
2021-01-03      10
2021-01-04      86
2021-01-05      13
2021-01-06      84
2021-01-07      25
2021-01-08      88
2021-01-09      57
2021-01-10      64

Rolling Mean DF :
                Values
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  51.000000
2021-12-28  50.714286
2021-12-29  48.428571
2021-12-30  54.000000
2021-12-31  65.428571

[365 rows x 1 columns]

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

In [72]:
index = [('A','one'),('A','two'),('B','one'),('B','two')]
multi_index = pd.MultiIndex.from_tuples(index, names=['Category','Subcategory'])
df = pd.DataFrame({'Value1':np.random.randint(1,10, size=4),
                   'Value2':np.random.randint(1,10, size=4),
                   'Value3':np.random.randint(1,10, size=4)}, index=multi_index)
print(f"Multi DataFrame :\n",df)

print(f"\nIndexing at Category 'B' :\n",df.loc['B'])
print(f"\nSlicing at Category 'A' and SubCategory 'one' :\n",df.loc['A', 'one'])

Multi DataFrame :
                       Value1  Value2  Value3
Category Subcategory
A        one               8       8       4
         two               9       2       7
B        one               7       7       8
         two               3       4       6

Indexing at Category 'B' :
              Value1  Value2  Value3
Subcategory
one               7       7       8
two               3       4       6

Slicing at Category 'A' and SubCategory 'one' :
 Value1    8
Value2    8
Value3    4
Name: (A, one), dtype: int32

In [73]:
index = [('Class1','Mhmd'),('Class1','Ziyad'),('Class2','Aysha'),('Class2','Hanan')]
multi_index = pd.MultiIndex.from_tuples(index, names=['Class','Students'])
df = pd.DataFrame({'Scores':np.random.randint(50,100, size=4)}, index=multi_index)
print(f"Multi DataFrame :\n",df)

print(f"\nIndexing at Class1 :\n", df.loc['Class1'])
print(f"\nSlicing at Class2 and Aysha :\n", df.loc['Class2','Aysha'])

Multi DataFrame :
                  Scores
Class  Students
Class1 Mhmd          61
       Ziyad         69
Class2 Aysha         89
       Hanan         94

Indexing at Class1 :
           Scores
Students
Mhmd          61
Ziyad         69

Slicing at Class2 and Aysha :
 Scores    89
Name: (Class2, Aysha), dtype: int32

2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [74]:
index = [('A','one'),('A','one'),('A','two'),('B','one'),('B','one'),('B','two')]
multi_index = pd.MultiIndex.from_tuples(index, names=['Category','Subcategory'])
df = pd.DataFrame(np.random.randint(1,10, size=(6,3)), columns=['Value1','Value2','Value3'], index=multi_index)
print(f"Multi DataFrame :\n",df)

grouping = df.groupby(['Category', 'Subcategory']).sum()
print(grouping)

Multi DataFrame :
                       Value1  Value2  Value3
Category Subcategory
A        one               5       5       7
         one               4       4       3
         two               5       8       2
B        one               2       4       3
         one               1       2       5
         two               5       5       8
                      Value1  Value2  Value3
Category Subcategory
A        one               9       9      10
         two               5       8       2
B        one               3       6       8
         two               5       5       8

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

In [75]:
df = pd.DataFrame({
    'Date' : pd.date_range(start='2024-01-01', periods=15, freq='D'),
    'Category' : np.random.choice(['A','B','C','D','E'], size=15),
    'Value' : np.random.randint(1,25, size=(15))
})
print(f"DataFrame :\n",df)

pivot = df.pivot_table(index='Date', columns='Category', values='Value', aggfunc='sum')
print("\nPivot Table:\n", pivot)

DataFrame :
          Date Category  Value
0  2024-01-01        B     23
1  2024-01-02        D      6
2  2024-01-03        B      7
3  2024-01-04        C      2
4  2024-01-05        E      6
5  2024-01-06        B      4
6  2024-01-07        A      8
7  2024-01-08        B      4
8  2024-01-09        B      2
9  2024-01-10        C      8
10 2024-01-11        E      9
11 2024-01-12        E      7
12 2024-01-13        E      1
13 2024-01-14        E     19
14 2024-01-15        C     13

Pivot Table:
 Category      A     B     C    D     E
Date
2024-01-01  NaN  23.0   NaN  NaN   NaN
2024-01-02  NaN   NaN   NaN  6.0   NaN
2024-01-03  NaN   7.0   NaN  NaN   NaN
2024-01-04  NaN   NaN   2.0  NaN   NaN
2024-01-05  NaN   NaN   NaN  NaN   6.0
2024-01-06  NaN   4.0   NaN  NaN   NaN
2024-01-07  8.0   NaN   NaN  NaN   NaN
2024-01-08  NaN   4.0   NaN  NaN   NaN
2024-01-09  NaN   2.0   NaN  NaN   NaN
2024-01-10  NaN   NaN   8.0  NaN   NaN
2024-01-11  NaN   NaN   NaN  NaN   9.0
2024-01-12  NaN   NaN   NaN  NaN   7.0
2024-01-13  NaN   NaN   NaN  NaN   1.0
2024-01-14  NaN   NaN   NaN  NaN  19.0
2024-01-15  NaN   NaN  13.0  NaN   NaN

2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [76]:
df = pd.DataFrame({'Year' : np.random.choice(['2020','2021','2022','2023'], size=20),
                   'Quarter' : np.random.choice(['Q1','Q2','Q3','Q4'], size=20),
                   'Revenue' : np.random.randint(200,800, size=20)
})
print(f"Data Frame :\n", df)

pivot = df.pivot_table(index='Year', columns='Quarter', values='Revenue', aggfunc='mean')
print("\nPivot Table:\n", pivot)

Data Frame :
     Year Quarter  Revenue
0   2023      Q3      497
1   2023      Q1      794
2   2022      Q3      507
3   2022      Q1      501
4   2020      Q1      401
5   2022      Q1      361
6   2023      Q1      637
7   2020      Q3      361
8   2021      Q3      384
9   2023      Q4      629
10  2021      Q2      426
11  2022      Q1      684
12  2023      Q2      795
13  2022      Q4      503
14  2023      Q4      631
15  2020      Q3      375
16  2021      Q2      238
17  2020      Q2      690
18  2021      Q3      322
19  2021      Q1      259

Pivot Table:
 Quarter          Q1     Q2     Q3     Q4
Year
2020     401.000000  690.0  368.0    NaN
2021     259.000000  332.0  353.0    NaN
2022     515.333333    NaN  507.0  503.0
2023     715.500000  795.0  497.0  630.0

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

In [77]:
df = pd.DataFrame(np.random.randint(1,26, size=(5,3)))
print(f"Data Frame :\n", df)

# Doubling the values
df=df*2                  # df.applymap(lambda x: x * 2) 
print(f"\nDoubled DataFrame :\n", df)

Data Frame :
     0   1   2
0   5   2   2
1  15   4  12
2  15  16  12
3  22  12  20
4   5  17  22

Doubled DataFrame :
     0   1   2
0  10   4   4
1  30   8  24
2  30  32  24
3  44  24  40
4  10  34  44

2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [78]:
df = pd.DataFrame(np.random.randint(1,26, size=(6,3)))
print(f"Data Frame :\n", df)

df['Sum'] = df.apply(lambda row: row.sum(), axis=1)
print(f"\nColumn added DF :\n", df)

Data Frame :
     0   1   2
0  16   7  18
1   2   6  14
2   5   7  21
3  17   5  19
4   6  22   7
5   1   8   1

Column added DF :
     0   1   2  Sum
0  16   7  18   41
1   2   6  14   22
2   5   7  21   33
3  17   5  19   41
4   6  22   7   35
5   1   8   1   10

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

In [79]:
strings = ['Red','Blue','Green','Orange','Yellow']
df = pd.Series(strings)                              
print(f"Series :\n", df)

# text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
# print(text_data)

upper_Strings = df.str.upper()
print(f"\nUpper Case Series :\n", upper_Strings)

Series :
 0       Red
1      Blue
2     Green
3    Orange
4    Yellow
dtype: object

Upper Case Series :
 0       RED
1      BLUE
2     GREEN
3    ORANGE
4    YELLOW
dtype: object

2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [80]:
strings = pd.Series(['Red','Blue','Green','Orange','Yellow'])
print(f"Series :\n", strings)

three_char = strings.str[:3]
print(f"\nFirst three char :\n", three_char)

Series :
 0       Red
1      Blue
2     Green
3    Orange
4    Yellow
dtype: object

First three char :
 0    Red
1    Blu
2    Gre
3    Ora
4    Yel
dtype: object